@media only screen and (max-width: 470px) {
  html {
    overflow-x: scroll;
  }

  navbar {
    padding: var(--s);
    width: 100%;

    box-sizing: border-box;
  }

  navbar logotype t {
    display: none;
  }

  content {
    margin: 80px auto 0px;
  }

  footer {
    margin: 100px auto 50px;
    padding: 0px var(--m);
  }

  hello-message {
    grid-column-start: 1;
    grid-column-end: 4;
    padding-left: var(--m);
    padding-right: var(--m);

    row-gap: var(--xxl);
  }

  summary {
    grid-column-start: 1;
    grid-column-end: 4;
    padding-left: var(--m);
    padding-right: var(--m);

    font-size: 20pt;
    font-weight: 500;
    line-height: 26pt;
  }

  catalog-title {
    display: flex;
    grid-column-start: 1;
    grid-column-end: 4;
    padding-left: var(--m);
    padding-right: var(--m);

    justify-content: space-between;
    align-items: center;
  }

  catalog-selection {
    display: flex;
    grid-column-start: 1;
    grid-column-end: 4;

    column-gap: var(--xs);
    row-gap: var(--xs);

    padding: var(--m) var(--m);

    flex-wrap: wrap;
  }

  catalog {
    grid-column-start: 1;
    grid-column-end: 4;

    display: grid;
    grid-template-columns: 100%;
    column-gap: var(--m);
    row-gap: var(--xxl);

    width: 100%;
    max-width: 768px;

    box-sizing: border-box;

    margin-top: var(--s);
  }

  catalog-item {
    padding-left: var(--m);
    padding-right: var(--m);

    box-sizing: border-box;
  }

  article-header {
    display: flex;
    justify-content: space-between;
    grid-column-start: 1;
    grid-column-end: 4;
    flex-direction: column;
    row-gap: var(--m);

    width: calc(100% - var(--xs));
    height: auto;
    padding: 0px var(--m);

    box-sizing: border-box;
  }

  article-header div {
    display: flex;
    grid-column-start: 1;
    grid-column-end: 4;
    gap: var(--xs);

    height: min-content;
  }

  article-header-date {
    display: flex;
    grid-column-start: 1;
    grid-column-end: 4;

    font-family: var(--anybody);
    font-size: var(--text);
    font-weight: 500;

    width: auto;

    margin: auto 0px;
  }

  article-header-tag {
    display: block;
    grid-column-start: 1;
    grid-column-end: 2;

    font-family: var(--anybody);
    font-weight: 500;
    padding: var(--xs) var(--s) var(--xxs);

    border: #0000ff dashed 2px;
    border-radius: var(--xs);
  }

  article-title {
    display: flex;

    grid-column-start: 1;
    grid-column-end: 4;

    margin-top: var(--m);
    box-sizing: border-box;

    width: calc(100% - var(--xs));

    padding: 0px var(--m);

    font-family: var(--anybody);
    font-weight: 700;
    font-size: 32pt;
    line-height: 140%;
  }

  article-text {
    display: block;

    grid-column-start: 1;
    grid-column-end: 4;
    box-sizing: border-box;

    width: calc(100% - var(--xs));

    padding: 0px var(--m);

    font-family: var(--playfair);
    font-size: var(--text);
  }

  article-text i,
  ul {
    display: block;

    grid-column-start: 1;
    grid-column-end: 4;

    margin: 0px;
    padding: 0px;
  }

  article-text i {
    padding-left: var(--xs);
    border-left: var(--primary) 2px solid;
  }

  article-text ul {
    display: list-item;
    color: var(--primary);
    list-style-type: square;

    margin: 0px 0px 0px 1em;
    padding: 0px;
  }

  article-image {
    display: flex;

    flex-direction: column;

    grid-column-start: 1;
    grid-column-end: 4;
    box-sizing: border-box;

    overflow-x: scroll;

    width: calc(100% - var(--xs));

    padding: var(--m) var(--m);
  }

  article-image img {
    display: flex;

    grid-column-start: 1;
    grid-column-end: 4;

    border-radius: var(--xs);

    width: 100%;
    height: auto;

    box-sizing: border-box;
  }

  /* __ CV ________________________________________________________________________________________________________________________________ */

  cv-tags-container {
    display: block;
    width: 100%;
    margin: var(--m) 0px var(--xl);
    row-gap: var(--xs);
  }

  cv-tags {
    display: inline-block;
    font-family: var(--playfair);
    font-size: var(--text);
    font-weight: 500;
    line-height: normal;
    padding: var(--xs) var(--m);

    margin-bottom: var(--xs);

    border: #0000ff dashed 2px;
    border-radius: var(--xs);
  }
}
