@media only screen and (max-width: 769px) {
  /* __ Variables ______________________________________________________________________________________________________________________ */

  :root {
  /* Colors */
  --primary: #181818;
  --primary-active: #5A5A5A;
  --primary-disabled: #BCBCBC;
  --cloud: #fcfcfc;
  --cloud-dark: #e4e4e4;

  /* Effects */
  --shadow-normal: 0px 0px var(--xs) rgba(0, 0, 0, 0.1);
  --shadow-hover: 0px var(--xxs) var(--s) rgba(0, 0, 0, 0.1);

  /* General Sizes */
  --xxs: 4px;
  --xs: 8px;
  --s: 12px;
  --m: 16px;
  --l: 20px;
  --xl: 32px;
  --xxl: 48px;

  /* Text Sizes */
  --text-caption: 14px;
  --text: 20px;
  --text-h3: 32px;
  --text-h2: 38px;
  --text-h1: 46px;

  /* Typography */
  --anybody: "Cabin", sans-serif;
  --playfair: "Newsreader", serif;
  }

  
  html {
    overflow-x: scroll;
  }

  navbar {
    padding: var(--s);
    width: 100%;

    box-sizing: border-box;
  }

  navbar logotype t {
    display: none;
  }

  button {
    padding: var(--m) var(--m);
  }

  content {
    margin: 100px auto 0px;
    width: 100%;
    padding: 0px;

    grid-template-columns: 100%;
  }

  footer {
    margin: 100px auto 50px;
    padding: 0px var(--m);

    line-height: 140%;

    flex-direction: column;

    row-gap: var(--s);
  }

  footer a {
    width: fit-content;
  }

  hello-message {
    grid-column-start: 1;
    grid-column-end: 1;
    padding-left: var(--m);
    padding-right: var(--m);

    font-size: 60px !important;
    line-height: 120%;
  }

  summary {
    grid-column-start: 1;
    grid-column-end: 1;
    padding-left: var(--m);
    padding-right: var(--m);

    font-size: var(--text);
    font-weight: medium;
    line-height: 140%;
  }

  #buttonDesktop {
    display: none;
  }
  
  #buttonMobile {
    display: block;
  }

  /* __ CATALOG ________________________________________________________________________________________________________________________________ */

  catalog-title {
    display: flex;
    grid-column-start: 1;
    grid-column-end: 1;
    padding-left: var(--m);
    padding-right: var(--m);

    justify-content: space-between;
    align-items: center;
  }


  catalog-title h2 {

    font-size: 3rem !important;
  }

  catalog-selection {
    display: flex;
    grid-column-start: 1;
    grid-column-end: 1;

    column-gap: var(--xs);
    row-gap: var(--xs);

    padding: var(--m) var(--m);

    flex-wrap: wrap;
  }

  catalog {
    grid-column-start: 1;
    grid-column-end: 1;

    display: grid;
    grid-template-columns: 100%;
    column-gap: var(--m);
    row-gap: var(--m);

    padding: 0px var(--m);

    width: 100%;
    max-width: 768px;

    box-sizing: border-box;

    margin-top: var(--s);
  }

  catalog.articles {
    grid-template-columns: 100%;
  }

  catalog-item {
    padding-left: var(--m);
    padding-right: var(--m);

    grid-column: span 1;

    box-sizing: border-box;
  }

  catalog-item-img {
    display: block;
    height: 100px;
  }

  /* __ ARTICLE ________________________________________________________________________________________________________________________________ */

  article-header {
    display: flex;
    justify-content: space-between;
    grid-column-start: 1;
    grid-column-end: 1;
    flex-direction: column;
    row-gap: var(--m);

    width: calc(100% - var(--xs));
    height: auto;
    padding: 0px var(--m);

    box-sizing: border-box;
  }

  article-header {
    margin-bottom: var(--l);
  }

  article-header div {
    display: flex;
    grid-column-start: 1;
    grid-column-end: 1;
    gap: var(--xs);

    height: min-content;
  }

  article-header-date {
    display: flex;
    grid-column-start: 1;
    grid-column-end: 1;

    font-family: var(--anybody);
    font-size: var(--text);
    font-weight: 500;

    width: auto;

    margin: auto 0px;
  }

  article-header-tag {
    display: block;
    grid-column-start: 1;
    grid-column-end: 1;

    font-family: var(--anybody);
    font-weight: 500;
    padding: var(--xs) var(--s) var(--xxs);

    border: #0000ff dashed 2px;
    border-radius: var(--xs);
  }

  article-title {
    display: flex;

    grid-column-start: 1;
    grid-column-end: 1;

    margin-top: var(--m);
    margin-bottom: var(--m);
    box-sizing: border-box;

    width: calc(100% - var(--xs));

    padding: 0px var(--m) 0px;

    font-family: var(--anybody);
    font-weight: 700;
    font-size: 60px;
  }

  article-text {
    display: block;

    grid-column-start: 1;
    grid-column-end: 1;
    box-sizing: border-box;

    width: calc(100% - var(--xs));

    padding: 0px var(--m);

    font-family: var(--playfair);
    font-size: var(--text);
  }

  article-text i,
  ul {
    display: block;

    grid-column-start: 1;
    grid-column-end: 1;

    margin: 0px;
    padding: 0px;
  }

  article-text i {
    padding-left: var(--xs);
    border-left: var(--primary) 2px solid;
  }

  article-text ul {
    display: list-item;
    color: var(--primary);
    list-style-type: square;

    margin: 0px 0px 0px 1em;
    padding: 0px;
  }

  article-image {
    display: flex;

    flex-direction: column;

    grid-column-start: 1;
    grid-column-end: 1;
    box-sizing: border-box;

    overflow-x: scroll;

    width: calc(100% - var(--xs));

    padding: var(--m) var(--m);
  }

  article-image img {
    display: flex;

    grid-column-start: 1;
    grid-column-end: 1;

    border-radius: var(--xs);

    width: 100%;
    height: auto;

    box-sizing: border-box;
  }

  back-to-catalog {
    display: flex;
  
    grid-column-start: 1;
  
    font-family: var(--playfair);
    font-size: var(--text);
    font-weight: 500;
  
    padding: 0px var(--m);
  
    margin-bottom: var(--l);
  }

  /* __ Projects ________________________________________________________________________________________________________________________________ */
  
  project-image {
    display: grid;
    grid-template-columns:  100%;
  
    width: 100%;}

  /* __ CV ________________________________________________________________________________________________________________________________ */

  cv-tags-container {
    display: block;
    width: 100%;
    margin: var(--xs) 0px var(--xl);
    row-gap: var(--xs);
  }

  cv-tags {
    display: inline-block;
    font-family: var(--playfair);
    font-size: 20px;
    font-weight: 300;
    line-height: normal;
    padding: var(--xs) var(--m);

    margin-bottom: var(--xs);

    border: var(--primary) dashed 2px;
    border-radius: var(--xs);
  }
}
