/* __ Variables ______________________________________________________________________________________________________________________ */

:root {
  /* Colors */
  --primary: #0059ff;
  --cloud: #fcfcfc;
  --cloud-dark: #e4e4e4;
  --charcoal: #0b0b0b;

  /* Effects */
  --shadow-normal: 0px 0px var(--xs) rgba(0, 0, 0, 0.1);
  --shadow-hover: 0px var(--xxs) var(--s) rgba(0, 0, 0, 0.1);

  /* General Sizes */
  --xxs: 4px;
  --xs: 8px;
  --s: 12px;
  --m: 16px;
  --l: 20px;
  --xl: 32px;
  --xxl: 48px;

  /* Text Sizes */
  --text-caption: 14px;
  --text: 24px;
  --text-h3: 24px;
  --text-h2: 32px;
  --text-h1: 48px;

  /* Typography */
  --anybody: "Anybody", sans-serif;
  --playfair: "Playfair", serif;
}

/* __ Global ______________________________________________________________________________________________________________________ */

* {
  box-sizing: border-box;
}

text-caption {
  font-family: var(--playfair);
  font-size: var(--text-caption);
  line-height: 160%;

  grid-column: span 12;
}

text {
  font-family: var(--playfair);
  font-size: var(--text);
  line-height: 140%;

  margin: 0px;
}

h3 {
  font-family: var(--anybody);
  font-size: var(--text-h3);
  line-height: 120%;

  margin: 0px;
}

h2 {
  font-family: var(--anybody);
  font-size: var(--text-h2);
  font-weight: 700;
  line-height: 120%;

  margin: 0px;
}

h1 {
  font-family: var(--anybody);
  font-size: var(--text-h1);
  font-weight: 700;
  line-height: 120%;

  margin: 0px;
}

a {
  text-decoration: none;
  color: var(--primary);
  cursor: pointer;
}

s {
  text-decoration: underline;
  text-decoration-line: 2px;
  -moz-text-decoration-line: 2px;
  text-underline-offset: 2px;
  text-decoration-thickness: 2px;
  color: var(--primary);
}

callout {
  display: block;
  padding: var(--m);

  border: var(--primary) dashed 2px;
  border-radius: var(--xs);
}

button {
  display: block-inline;

  width: auto;
  height: fit-content;

  padding: var(--s) var(--s);

  border: var(--primary) solid 2px;
  box-shadow: var(--primary) 0px 0px 0px 0px;
  border-radius: var(--xs);

  font-family: var(--playfair);
  font-size: var(--text);
  line-height: 45%;

  color: var(--primary);
  background-color: var(--cloud);

  transition: 120ms ease-in-out box-shadow;
}

button:hover {
  border: var(--primary) solid 2px;
  box-shadow: var(--primary) 4px 4px 0px;

  /*box-shadow: inset var(--primary) 0px 0px 0px 4px;*/
  cursor: pointer;
}

button:active {
  background-color: var(--primary);
  color: var(--cloud);
}

body {
  margin: 0px;
  padding: 0px 0px;

  background-color: var(--cloud);

  font-family: var(--playfair);
  font-weight: 300;

  color: var(--primary);

  overflow-x: hidden;
}

content {
  position: relative;

  display: grid;
  grid-template-columns: calc(33% - 8px) calc(33% - 8px) calc(33% - 8px);
  column-gap: var(--m);

  width: 100%;
  max-width: 960px;

  padding: 0px var(--m);
  margin: 140px auto 0px;

  font-family: var(--playfair);

  box-sizing: content-box;
}

img {
  border: none;
  box-shadow: none;
}

footer {
  position: relative;

  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;

  /* flex-direction: column; */

  margin: 160px auto 50px;
  padding: 0px var(--xl);

  font-family: var(--anybody);
  font-size: var(--text-caption);
  font-weight: 500;

  text-align: left;
}

#buttonDesktop {
  display: block;
}

#buttonMobile {
  display: none;
}

/* __ Navbar ______________________________________________________________________________________________________________________ */

navbar {
  position: fixed;

  display: flex;
  justify-content: space-between;

  z-index: 1000;
  box-sizing: border-box;

  width: 100%;
  max-width: 1440px;
  height: auto;

  top: 0px;
  left: 0px;
  right: 0px;

  padding: var(--xl) var(--m);
  margin: auto;

  background-color: var(--cloud);
}

logotype {
  display: flex;

  width: auto;
  height: 32px;
  align-items: center;

  margin: auto 0px;

  font-family: var(--anybody);
  font-size: 24px;
  font-weight: 500;

  color: var(--primary);
}

logotype t {
  line-height: 24px;
}

logotype img {
  display: inline-block;
  height: 32px;
  width: 25px;
  color: #0000ff;
  margin-right: var(--xs);
}

menu {
  display: flex;
  gap: var(--m);
  align-items: center;

  height: 0%;

  margin: auto 0px;

  font-size: var(--l);
  font-weight: 500;

  padding-inline-start: 0%;
}

menu button {
  margin: auto 0px;
}

/* __ Hello Message ________________________________________________________________________________________________________________________________ */

hello-message {
  grid-column-start: 1;
  grid-column-end: 2;
  padding-left: var(--xs);
  padding-right: var(--xs);

  row-gap: var(--xxl);

  font-family: var(--anybody);
  font-size: var(--text-h2);
  font-weight: 700;
  line-height: 40px;
}

summary {
  grid-column-start: 2;
  grid-column-end: 4;
  padding-left: var(--xs);
  padding-right: var(--xs);

  font-size: var(--text-h2);
  font-weight: 300;
  line-height: 40px;
}

/* __ Catalog ________________________________________________________________________________________________________________________________ */

catalog-title {
  display: flex;
  grid-column-start: 1;
  grid-column-end: 4;
  padding-left: var(--xs);
  padding-right: var(--xs);

  justify-content: space-between;
  align-items: center;
}

catalog-selection {
  display: flex;
  grid-column-start: 1;
  grid-column-end: 4;

  column-gap: var(--xs);
  row-gap: var(--xs);

  padding: var(--xs) var(--xs);

  flex-wrap: wrap;
}

catalog-selection a {
  line-height: 32px;
}

catalog {
  grid-column-start: 1;
  grid-column-end: 4;

  display: grid;
  grid-template-columns: calc(33% - 8px) calc(33% - 8px) calc(33% - 8px);
  column-gap: var(--m);
  row-gap: var(--m);

  padding: var(--xs) var(--xs) 0px;

  width: 100%;
  box-sizing: border-box;
  /*max-width: 768px;*/
}

catalog a {
  display: none;
}

catalog a.show {
  display: block;
}


catalog-item {
  display: flex;
  flex-direction: column;
  
  width: 100%;
  height: fit-content;

  height: fit-content;
  row-gap: var(--xs);

  border: var(--primary) 2px solid;
  border-radius: var(--xs);

  padding: var(--m) var(--m) var(--xl);
  box-sizing: border-box;

  transition: 120ms ease-in-out box-shadow;

  overflow: hidden;

  cursor: pointer;
}

catalog-item:hover {
  box-shadow: var(--primary) 4px 4px 0px;
}

catalog-item img {

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: auto;
  height: 120px;
  border-bottom: var(--primary) 2px solid;
  border-radius: 6px 6px 0px 0px;

  margin: -16px -16px var(--xs);
}

catalog-item-title {
  font-family: var(--anybody);
  font-size: 28px;
  font-weight: 500;
  line-height: 140%;

  min-height: 120px;
}

catalog-item div {
  display: flex;
  flex-wrap: wrap;
  gap: var(--xs);
  row-gap: var(--xs);
  width: 100%;
}

catalog-item-tag {
  display: inline;
  width: fit-content;
  text-decoration: none;
  font-family: var(--anybody);
  font-weight: 500;
  padding: var(--xs) var(--s) calc(var(--xs) - 3px) var(--s);

  color: #0000ff;
  border: #0000ff dashed 2px;
  border-radius: var(--xs);

  border-radius: 4px;
}

catalog-item-date-and-time {
  display: flex;

  justify-content: space-between;
}

catalog-item-date-and-time div {
  display: block;

  width: fit-content;
}

/* __ Article ________________________________________________________________________________________________________________________________ */

article-header {
  display: flex;
  justify-content: space-between;
  grid-column-start: 1;
  grid-column-end: 4;

  width: 100%;
  height: auto;
  padding: 0px var(--xs);

  box-sizing: border-box;
}

article-header div {
  display: flex;
  gap: var(--xs);

  height: min-content;
}

back-to-catalog {
  display: flex;

  grid-column: span 3;

  font-family: var(--playfair);
  font-size: var(--text);
  font-weight: 500;

  padding: 0px var(--xs);

  margin-bottom: var(--l);
}

back-to-catalog::before {
  content: "←";
}

article-header-date {
  display: flex;

  font-family: var(--anybody);
  font-size: var(--text);
  font-weight: 500;

  width: auto;

  margin: auto 0px;
}

article-header-tag {
  display: inline-block;
  font-family: var(--anybody);
  font-weight: 500;
  padding: var(--xs) var(--m);

  border: #0000ff dashed 2px;
  border-radius: var(--xs);
}

article-title {
  display: flex;

  grid-column-start: 1;
  grid-column-end: 4;

  margin: var(--xs) 0px var(--m);

  padding: 0px var(--xs);

  font-family: var(--anybody);
  font-weight: 700;
  font-size: var(--xxl);
  line-height: 120%;
}

article-text {
  display: block;

  grid-column-start: 1;
  grid-column-end: 4;

  padding: 0px var(--xs);

  font-family: var(--playfair);
  font-size: var(--text);
  line-height: 140%;
}

article-text i,
ul {
  display: block;

  grid-column-start: 1;
  grid-column-end: 4;

  margin: 0px;
  padding: 0px;
}

article-text i {
  padding-left: var(--m);
  border-left: var(--primary) 2px solid;
}

article-text ul {
  display: list-item;
  color: var(--primary);
  list-style-type: square;

  margin: 0px 0px 0px 1em;
  padding: 0px;
}

article-separation {
  display: block;

  grid-column-start: 1;
  grid-column-end: 4;

  font-family: var(--playfair);
  font-size: var(--text);
  line-height: 140%;

  text-align: center;

  padding: var(--xxl) var(--xs);
}

article-image {
  display: grid;
  grid-template-columns: 7.38% 7.38% 7.38% 7.38% 7.38% 7.38% 7.38% 7.38% 7.38% 7.38% 7.38% 7.38%;
  column-gap: var(--xs);

  flex-direction: row;

  width: auto;
  height: fit-content;

  grid-column-start: 1;
  grid-column-end: 4;

  padding: var(--xxl) var(--xs);
}

article-image img {
  display: flex;

  border-radius: var(--xs);

  width: 100%;
  height: auto;
  margin: var(--xs) 0;

  box-sizing: border-box;

  border: rgba(68, 0, 255, 0.1) solid 2px;
}

/* __ CV ________________________________________________________________________________________________________________________________ */

cv-tags-container {
  display: block;
  width: 100%;
  margin: var(--m) 0px var(--xl);
  row-gap: var(--xs);
}

cv-tags {
  display: inline-block;
  font-family: var(--playfair);
  font-size: var(--text);
  font-weight: 300;
  line-height: normal;
  padding: var(--xs) var(--m);

  margin-bottom: var(--xs);

  border: #0000ff dashed 2px;
  border-radius: var(--xs);
}