/* __ Global ______________________________________________________________________________________________________________________ */

* {
  box-sizing: border-box;
}

*::selection {
  background-color: var(--primary);
  color: var(--cloud);
}

callout {
  display: block;
  padding: var(--m);

  border: var(--primary) dashed 2px;
  border-radius: var(--xs);
}

button {
  display: block-inline;

  width: auto;
  height: fit-content;

  padding: var(--m) var(--xl);

  border: var(--primary) solid 2px;
  box-shadow: var(--primary) 0px 0px 0px 0px;
  border-radius: var(--xs);

  font-family: var(--anybody);
  font-size: var(--text);
  line-height: 45%;

  color: var(--primary);
  background-color: var(--cloud);

  transition: 120ms ease-in-out box-shadow;
}

.btn-secundary {
  border: none
}

button:hover {
  border: var(--primary) solid 2px;
  box-shadow: var(--primary) 6px 6px 0px;

  color: var(--primary-active);

  /*box-shadow: inset var(--primary) 0px 0px 0px 4px;*/
  cursor: pointer;
}

.btn-secundary:hover {
  border: none;
  box-shadow: none;
  color: var(--primary-active);
}

button:active {
  background-color: var(--primary);
  color: var(--cloud);
}

body {
  margin: 0px;
  padding: 0px 0px;

  background-color: var(--cloud);

  font-family: var(--playfair);
  font-weight: 300;

  color: var(--primary);

  overflow-x: hidden;
}

content {
  position: relative;

  display: grid;
  grid-template-columns:  8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% ;
  /* column-gap: var(--m); */

  width: calc(100% - var(--m));
  max-width: 1240px;
  /* min-height: 100vh; */

  padding: 0px var(--m);
  margin: 200px auto 0px;

  font-family: var(--playfair);

  box-sizing: content-box;
}

img {
  border: none;
  box-shadow: none;
}

footer {
  position: relative;

  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;

  /* flex-direction: column; */

  margin: 160px auto 50px;
  padding: 0px var(--xl);

  font-family: var(--anybody);
  font-size: var(--text-caption);
  font-weight: 500;

  text-align: left;
}

footer div {
  display: flex;
  gap: var(--m);

  flex-direction: column;
}

#buttonDesktop {
  display: block;
}

#buttonMobile {
  display: none;
}

/* __ Navbar ______________________________________________________________________________________________________________________ */

/* navbar-container {
  position: fixed;
  top: 0px;
  display: block;
  width: 1600px;
  height: 103px;

  z-index: 1000;

  background-color: var(--cloud);
} */

navbar {
  position: fixed;

  display: flex;
  justify-content: space-between;

  z-index: 1000;
  box-sizing: border-box;

  width: 100%;
  max-width: 1440px;
  height: auto;

  top: 0px;
  left: 0px;
  right: 0px;

  padding: var(--m) var(--s);
  margin: auto;

  background-color: var(--cloud);
}

logotype {
  display: flex;

  width: auto;
  height: 24px;
  align-items: center;

  margin: 10px auto 0px;

  color: var(--primary);
}

logotype t {
  line-height: 16px;

  font-family: var(--anybody);
  font-size: 24px;
}

logotype img {
  display: inline-block;
  height: 32px;
  width: 25px;
  color: #0000ff;
  margin-right: var(--xs);
}

menu {
  display: flex;
  gap: var(--m);
  align-items: center;

  height: 0%;

  margin: auto 0px;

  font-size: var(--l);
  font-weight: 500;

  padding-inline-start: 0%;
}

menu button {
  margin: auto 0px;
}

/* __ Catalog ________________________________________________________________________________________________________________________________ */

catalog-title {
  display: flex;
  grid-column-start: 1;
  grid-column-end: 13;
  padding-left: var(--xs);
  padding-right: var(--xs);

  justify-content: space-between;
  align-items: center;
}

catalog-selection {
  display: flex;
  grid-column-start: 1;
  grid-column-end: 13;

  column-gap: var(--xs);
  row-gap: var(--xs);

  padding: var(--xs) var(--xs);

  flex-wrap: wrap;
}

catalog-selection a {
  line-height: 32px;
}

catalog {
  grid-column-start: 1;
  grid-column-end: 13;

  display: grid;
  grid-template-columns: calc(33% - 8px) calc(33% - 8px) calc(33% - 8px);
  column-gap: var(--m);
  row-gap: var(--m);

  padding: var(--xs) var(--xs) 0px;

  width: 100%;
  box-sizing: border-box;
  /*max-width: 768px;*/
}

catalog.articles {
  grid-template-columns: calc(50% - 8px) calc(50% - 8px);
}

catalog a {
  display: none;
}

catalog a.a-show {
  display: block;
}

catalog a.p-show {
  display: block;
}

catalog-item {
  display: flex;
  flex-direction: column;
  
  width: 100%;
  height: fit-content;

  height: fit-content;
  row-gap: 20px;

  border: var(--primary) 2px solid;
  border-radius: 20px;

  padding: var(--m) var(--m) var(--m);
  box-sizing: border-box;

  transition: 120ms ease-in-out box-shadow;

  overflow: hidden;

  cursor: pointer;
}

catalog.articles catalog-item {
  display: flex;
  flex-direction: row;
  
  width: 100%;
  height: fit-content;

  height: fit-content;
  column-gap: var(--l);

  border: var(--primary) 2px solid;
  border-radius: 20px;

  padding: var(--m) var(--m) var(--m);
  box-sizing: border-box;

  transition: 120ms ease-in-out box-shadow;

  overflow: hidden;

  cursor: pointer;
}

catalog.articles catalog-item catalog-item-img {
  display: block;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 190px;
  aspect-ratio: 1 / 1;
  border-radius: 8px;
}

catalog.articles catalog-item div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  gap: var(--xs);
  row-gap: var(--xs);
  width: 100%;
}

catalog.articles catalog-item catalog-item-title {
  min-height: auto;
  margin-bottom: 0px;
}

catalog.articles catalog-item p {
  padding: 0px;
  margin: 0px;

  font-weight: 400;

  overflow: hidden;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

catalog-item:hover {
  box-shadow: var(--primary) 6px 6px 0px;
}


.unavailable {
  filter: blur(5px);
  pointer-events: none !important;
  opacity: 0.5;
}

catalog-item-img {
  display: block;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 770px;
  height: 150px;
  border-radius: 8px;
/* 
  margin: -16px -16px var(--xs) -16px; */
}

catalog-item-title {
  font-family: var(--anybody);
  font-size: 28px;
  font-weight: 500;
  line-height: 140%;

  min-height: 120px;
}

catalog-item div {
  display: flex;
  flex-wrap: wrap;
  gap: var(--xs);
  row-gap: var(--xs);
  width: 100%;
}

catalog-item-tag {
  display: inline-block;
  margin-right: var(--m);
  width: fit-content;
  text-decoration: none;
  font-family: var(--anybody);
  font-weight: 400;

  color: var(--primary);
}

catalog-item-date-and-time {
  display: flex;

  justify-content: space-between;

  max-height: 1em;
}

catalog-item-date-and-time div {
  display: block;

  max-width: max-content;
}

/* __ Article ________________________________________________________________________________________________________________________________ */

article-header {
  display: flex;
  justify-content: space-between;
  grid-column-start: 4;
  grid-column-end: 10;

  width: 100%;
  height: auto;
  padding: 0px var(--xs);

  box-sizing: border-box;
}

article-header div {
  display: flex;
  gap: var(--xs);

  height: min-content;
}

back-to-catalog {
  display: flex;
  flex-direction: column;

  row-gap: var(--xs);

  grid-column-start: 4;
  grid-column-end: 10;

  font-family: var(--playfair);
  font-size: var(--text);
  font-weight: 500;

  padding: 0px var(--xs);

  margin-bottom: var(--l);
}

/* back-to-catalog::before {
  content: "←";
} */

article-header-date {
  display: flex;

  font-family: var(--playfair);
  font-size: var(--text);
  font-weight: 600;

  margin-bottom: var(--m);
}

article-header-tag {
  display: inline-block;
  font-family: var(--anybody);
  font-weight: 500;
  padding: var(--xs) var(--m);

  border: #0000ff dashed 2px;
  border-radius: var(--xs);
}

article-title {
  display: flex;

  grid-column-start: 1;
  grid-column-end: 13;

  margin: var(--xs) 0px 96px;

  padding: 0px var(--xs);

  font-family: var(--anybody);
  font-weight: 900;
  font-size: 120px;
  line-height: 100%;

  justify-content: center;

}

.art-title {
  display: inline-block;
  text-align: left;
}

article-text {
  display: block;

  grid-column-start: 4;
  grid-column-end: 10;

  padding: 0px var(--xs);

  font-family: var(--playfair);
  font-size: var(--text);
  font-weight: 400;
  line-height: 160%;

} 

article-text i,
ul {
  display: block;

  grid-column-start: 1;
  grid-column-end: 4;

  margin: 0px;
  padding: 0px;
}

article-text i {
  padding-left: var(--m);
  border-left: var(--primary) 2px solid;
}

article-text ul {
  display: list-item;
  color: var(--primary);
  list-style-type: square;

  margin: 0px 0px 0px 1em;
  padding: 0px;
}

article-separation {
  display: block;

  grid-column-start: 1;
  grid-column-end: 13;

  font-family: var(--playfair);
  font-size: var(--text);
  line-height: 140%;

  text-align: center;

  padding: var(--xxl) var(--xs);
}

article-image {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: var(--xs);

  width: 100%;
  height: fit-content;

  grid-column-start: 4;
  grid-column-end: 10;

  padding: var(--xxl) var(--xs);

  overflow: hidden !important;
}

article-image img {
  display: flex;

  border-radius: var(--xs);

  width: 100%;
  height: auto;
  margin: var(--xs) 0;

  box-sizing: border-box;

  border: rgba(24, 24, 24, 1) solid 2px;
}

article-image iframe {
  display: flex;

  border-radius: var(--xs);

  width: 100%;
  height: auto;
  margin: var(--xs) 0;

  box-sizing: border-box;

  border: rgba(24, 24, 24, 1) solid 2px;
}

/* __ Projects ________________________________________________________________________________________________________________________________ */

project-image {
  display: grid;
  grid-template-columns:  8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% ;

  width: 100%;}

/* __ CV ________________________________________________________________________________________________________________________________ */

cv-tags-container {
  display: block;
  width: 100%;
  margin: var(--m) 0px var(--xl);
  row-gap: var(--xs);
}

cv-tags {
  display: inline-block;
  font-family: var(--playfair);
  font-size: var(--text);
  font-weight: 300;
  line-height: normal;
  padding: var(--m) var(--xl);

  margin-bottom: var(--xs);

  border: var(--primary) dashed 2px;
  border-radius: var(--xs);
}