@media only screen and (max-width: 1240px) {
    /* back-to-catalog {

        grid-column-start: 2;
        grid-column-end: 12;
    }
    article-title {
        grid-column-start: 2;
        grid-column-end: 12;
    }

    article-text {
        grid-column-start: 2;
        grid-column-end: 12;
    } */
}
